.site-header {
    background-color: black;
    background-size: cover;
    height: 200px;
    position: relative;

    .site-nav {
      float: right;
      margin: 20px 20px;

      .page-link {
        color: white;
        letter-spacing: 1px;
        margin: 10px;
      }
    }

    .container {
      text-transform: uppercase;
      padding-top: 70px;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      width: -moz-fit-content;
      width: -webkit-fit-content;
      width: fit-content;

      .site-title {
          &,
          &:visited {
              color: white;
          }
      }
    }
}

.post-header {
    margin-top: 50px;
    text-align: center;
    font-family: 'Rubik', sans-serif;

    .date {
      font-size: 16px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
}

.pagination {
    margin-top: 40px;

    .next {
        float: right;
    }

    .previous {
        float: left;
    }
}

.site-footer {
    border-top: 1px solid $grey-color;
    padding: $spacing-unit 0;

    position: absolute;
    bottom: 0;
    width: 100%;
}

.archives .date {
  color: $grey-color-light;
  float: left;
  font-size: 15px;
  line-height: 15px;
  padding-top: 28px;
  width: 115px;
}

.archives .date:after {
  background: none repeat scroll 0 0 #ccc;
  content: "";
  display: block;
  float: right;
  height: 5px;
  margin: 5px 20px 0 0;
  width: 5px;
}

.archives .archive {
  line-height: 1.75em;
  display: block;
}

.archives .archive a.title, .archives .archive a.title:visited {
  color: $text-color;
  text-decoration: none;
  font-weight: normal;
  margin-bottom: -15px;
  padding: 18px 0 13px;
  display: block;
}

.archives .archive a.title:hover {
  color: $brand-color;
}

.photo-left {
  margin-right: 10px;
  float: left;
}

.photo-right {
  margin-left: 10px;
  float: right;
}
