---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: 'Open Sans', sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$spacing-unit:     30px;
$brand-color:      #8269A4;

$grey-color:       #828282;
$grey-color-dark:  darken($grey-color, 25%);
$grey-color-light: darken($grey-color, 10%);
$text-color:       $grey-color-dark;

// Width of the content area
$content-width:    900px;
$on-palm:          600px;
$on-laptop:        800px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base", "layout";
