---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family:       'Open Sans', sans-serif;
$base-font-size:         16px;
$base-font-weight:       400;
$small-font-size:        $base-font-size * 0.875;
$base-line-height:       1.5;
$blockquote-font-family: serif;
$blockquote-font-size:   17px;
$spacing-unit:           30px;
$brand-color:            #8269A4;

$grey-color:       #828282;
$grey-color-dark:  darken($grey-color, 25%);
$grey-color-light: darken($grey-color, 10%);
$text-color:       $grey-color-dark;

// Width of the content area
$content-width:    900px;
$on-palm:          600px;
$on-laptop:        800px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
     margin-bottom: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}

a {
  color: $brand-color;
  text-decoration: none;
}

blockquote {
  color: $grey-color-light;
  padding-left: $spacing-unit;
  font-family: $blockquote-font-family;
  font-size: $blockquote-font-size;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

.main-wrapper {
  min-height: 100%;
  padding: 0 0 100px;
  position: relative;
}

.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.site-header {
  background-color: black;
  background-size: cover;
  height: 200px;
  position: relative;

  .site-nav {
    float: right;
    margin: 20px 20px;

    .page-link {
      color: white;
      letter-spacing: 1px;
      margin: 10px;
    }
  }

  .container {
    text-transform: uppercase;
    padding-top: 70px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;

    .site-title {
      &,
      &:visited {
          color: white;
      }
    }
  }
}

.post-header {
  margin-top: 50px;
  text-align: center;
  font-family: 'Rubik', sans-serif;

  .date {
    font-size: 16px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;
}

.pagination {
  margin-top: 40px;

  .next {
      float: right;
  }

  .previous {
      float: left;
  }
}

.site-footer {
  border-top: 1px solid $grey-color;
  padding: $spacing-unit 0;

  position: absolute;
  bottom: 0;
  width: 100%;
}

.archives .date {
  color: $grey-color-light;
  float: left;
  font-size: 15px;
  line-height: 15px;
  padding-top: 28px;
  width: 115px;
}

.archives .date:after {
  background: none repeat scroll 0 0 #ccc;
  content: "";
  display: block;
  float: right;
  height: 5px;
  margin: 5px 20px 0 0;
  width: 5px;
}

.archives .archive {
  line-height: 1.75em;
  display: block;
}

.archives .archive a.title, .archives .archive a.title:visited {
  color: $text-color;
  text-decoration: none;
  font-weight: normal;
  margin-bottom: -15px;
  padding: 18px 0 13px;
  display: block;
}

.archives .archive a.title:hover {
  color: $brand-color;
}

.photo-left {
  margin-right: 10px;
  float: left;
}

.photo-right {
  margin-left: 10px;
  float: right;
}
