---
---

@charset "utf-8";

// Our variables
$base-font-family:      'Alegreya Sans', sans-serif;
$base-font-size:         19px;
$base-font-weight:       normal;
$base-line-height:       1.5;
$title-font-family:      Arial, sans-serif;
$blockquote-font-family: $base-font-family;
$blockquote-font-size:   20px;
$spacing-unit:           45px;
$brand-color:            #7FC498;
$white-color:            #F1FFFA;

$grey-color:       #464E47;
$grey-color-dark:  darken($grey-color, 0%);
$grey-color-light: darken($grey-color, 0%);
$text-color:       $grey-color-dark;

// Width of the content area
$content-width:    800px;
$on-palm:          600px;
$on-laptop:        800px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 10;
}


html,
body {
  height: 100%;
}

p {
  line-height: 30px;
}

body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
     margin-bottom: 0;
  }
}


h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}

h2 {
  font-size: 23px;
  margin-bottom: 10px;
}

a {
  color: $brand-color;
  text-decoration: none;
}

blockquote {
  padding-left: $spacing-unit;
  font-family: $blockquote-font-family;
  font-size: $blockquote-font-size;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

.main-wrapper {
  min-height: 100%;
  padding: 0 0 100px;
  position: relative;
}

.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.homepage-title {
  font-size: 70px;
  margin-top: 0px;
  text-align: center;
  font: $title-font-family
  }

.homepage-subtitle {
  font-size: 20px;
  text-align: center;
}

.site-header {
  z-index: 10;
  position: relative;

  .site-nav {
    float: right;
    margin: 25px 20px;

    .page-link {
      color: $white-color;
      letter-spacing: 1px;
      margin: 10px;
    }
  }

  .homepage-headline-title {
    font-size: 100px;
  }

  .container {
    text-transform: uppercase;
    padding-top: 70px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
  }
}

.intro-header {
  z-index: 100;
  height: 450px;
  color: $white-color;
  margin-bottom: 50px;
}

.intra-post-header {
  padding-top: 30px;
}

.post-header {
  //color: white;
  padding-top: 180px;
  font-size: 15px;
  color: $white-color;
  text-align: left;

  .date {
    font-size: 20px;
    font-style: "Lato";
    color: #CCFCCB;

  }
}

.page-header {
  padding-top: 200px;
  text-align: center;
  font-size: 30px;
  color: $white-color;

}

.post-content {
  margin-top: $spacing-unit * 2;
  margin-bottom: $spacing-unit;
}

.pagination {
  margin-top: 40px;

  .next {
      float: right;
  }

  .previous {
      float: left;
  }
}

.site-footer {
  border-top: 1px solid $brand-color;
  padding: $spacing-unit 0;
  padding-top: 10px;

  position: absolute;
  bottom: 0;
  width: 100%;
}

.archives .date {
  color: $grey-color-light;
  float: left;
  font-size: 15px;
  line-height: 15px;
  padding-top: 28px;
  width: 115px;
}

.archives .date:after {
  background: none repeat scroll 0 0 #ccc;
  content: "";
  display: block;
  float: right;
  height: 5px;
  margin: 5px 20px 0 0;
  width: 5px;
}

.archives .archive {
  line-height: 1.75em;
  display: block;
}

.archives .archive a.title, .archives .archive a.title:visited {
  color: $text-color;
  text-decoration: none;
  font-weight: normal;
  margin-bottom: -15px;
  padding: 18px 0 13px;
  display: block;
}

.archives .archive a.title:hover {
  color: $brand-color;
}
